@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using TopBeers.Dados.Entities
@using TopBeers.Models.AccountViewModels
@model TopBeers.Models.AccountViewModels.LoginViewModel
@inject SignInManager<Usuario> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <h4>Use uma conta local para efetuar login.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Login</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-action="ForgotPassword">Esqueceu a senha?</a>
                        </p>
                        <p>
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Cadastrar novo usuário?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use outro serviço para efetuar login.</h4>
                <hr />
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                Não há serviços de autenticação externos configurados. Veja em <a href="https://go.microsoft.com/fwlink/?LinkID=532715"> este artigo</a>
                                para obter detalhes sobre como configurar este aplicativo ASP.NET para suportar o registro em log por meio de serviços externos.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Login realizado pela conta @provider.DisplayName">@provider.Name</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
