@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@using TopBeers.Util.Helper
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TopBeers.Models.CervejaModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Cervejas</h2>

<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#novoProfessor">Nova</button>
    <br /><br />

</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Quantidade</h5>
                    @Model.ListaCervejas.Count()
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card  text-center">
                <div class="card-body">
                    <h5 class="card-title">Alguma coisa</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card  text-center">
                <div class="card-body">
                    <h5 class="card-title">Outra coisa</h5>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
</div>


<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Grau Alcoolico</th>
                <th scope="col">Aprovado</th>
                <th>Descrição</th>
                <th>Opções</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var cerveja in Model.ListaCervejas)
            {
                <tr>
                    <th scope="row"><a href="#">@cerveja.Id</a></th>
                    <td>@cerveja.NomeCerveja</td>
                    <td>@cerveja.GrauAlcoolico</td>
                    <td>@cerveja.Aprovado</td>
                    <td>@cerveja.DescricaoCerveja</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarModal">Editar</button>
                        <a href="@Url.Action("ExcluirCerveja", "Cerveja", new { idCerveja = cerveja.Id })" class="btn btn-danger">Excluir</a>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDetalhes">Detalhar</button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SalvarCerveja", "Cerveja", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            @Html.LabelFor(model => model.NomeCerveja)
                            @Html.TextBoxFor(model => model.NomeCerveja, new { @class = "form-control", placeholder = "Nome da cerveja", required = "require" })
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(model => model.GrauAlcoolico)
                            @Html.TextBoxFor(model => model.GrauAlcoolico, new { @class = "form-control", placeholder = "0,0", required = "require" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(model => model.Origem)
                            @Html.TextBoxFor(model => model.Origem, new { @class = "form-control", placeholder = "Origem", required = "require" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(model => model.Amargor)
                            @Html.TextBoxFor(model => model.Amargor, new { @class = "form-control", placeholder = "Amargor", required = "require" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(model => model.Aroma)
                            @Html.TextBoxFor(model => model.Aroma, new { @class = "form-control", placeholder = "Aroma", required = "require" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(model => model.Coloracao)
                            @Html.TextBoxFor(model => model.Coloracao, new { @class = "form-control", placeholder = "Coloração", required = "require" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(model => model.IdTipoCerveja)
                            @Html.DropDownListFor(model => model.IdTipoCerveja, new SelectList(Model.ListaTipoCerveja, "Id", "Tipo"), "Selecione o tipo", new { @class = "form-control", required = "required" })
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            @Html.LabelFor(model => model.IdCervejaria)
                            @Html.DropDownListFor(model => model.IdCervejaria, new SelectList(Model.ListaCervejaria, "IdCervejaria", "Nome"), "Selecione a cervejaria", new { @class = "form-control", required = "required" })
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.DescricaoCerveja)
                            @Html.TextAreaFor(model => model.DescricaoCerveja, new { @class = "form-control", placeholder = "Descrição", required = "require" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            @Html.LabelFor(model => model.Historia)
                            @Html.TextAreaFor(model => model.Historia, new { @class = "form-control", required = "required" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            @Html.LabelFor(model => model.ArquivoUpload)
                            @Html.TextBoxFor(model => model.ArquivoUpload, new { @class = "form-control", required = "required", type = "file" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Novo  -->
<div class="modal fade" id="novoProfessor" tabindex="-1" role="dialog" aria-labelledby="novoProfessor" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nova Cerveja</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SalvarCerveja", "Cerveja", FormMethod.Post, 
                    new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken();

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            @Html.LabelFor(model => model.NomeCerveja)
                            @Html.TextBoxFor(model => model.NomeCerveja, new { @class = "form-control", placeholder = "Nome da cerveja", required = "require" })
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(model => model.GrauAlcoolico)
                            @Html.TextBoxFor(model => model.GrauAlcoolico, new { @class = "form-control", placeholder = "0,0", required = "require" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(model => model.Origem)
                            @Html.TextBoxFor(model => model.Origem, new { @class = "form-control", placeholder = "Origem", required = "require" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(model => model.Amargor)
                            @Html.TextBoxFor(model => model.Amargor, new { @class = "form-control", placeholder = "Amargor", required = "require" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(model => model.Aroma)
                            @Html.TextBoxFor(model => model.Aroma, new { @class = "form-control", placeholder = "Aroma", required = "require" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(model => model.Coloracao)
                            @Html.TextBoxFor(model => model.Coloracao, new { @class = "form-control", placeholder = "Coloração", required = "require" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(model => model.IdTipoCerveja)
                            @Html.DropDownListFor(model => model.IdTipoCerveja, new SelectList(Model.ListaTipoCerveja, "Id", "Tipo"), "Selecione o tipo", new { @class = "form-control", required = "required" })
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            @Html.LabelFor(model => model.IdCervejaria)
                            @Html.DropDownListFor(model => model.IdCervejaria, new SelectList(Model.ListaCervejaria, "IdCervejaria", "Nome"), "Selecione a cervejaria", new { @class = "form-control", required = "required" })
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.DescricaoCerveja)
                            @Html.TextAreaFor(model => model.DescricaoCerveja, new { @class = "form-control", placeholder = "Descrição", required = "require" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            @Html.LabelFor(model => model.Historia)
                            @Html.TextAreaFor(model => model.Historia, new { @class = "form-control", required = "required" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            @Html.LabelFor(model => model.ArquivoUpload)
                            @Html.TextBoxFor(model => model.ArquivoUpload, new { @class = "form-control", required = "required", type = "file" })
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                }
            </div>
        </div>
    </div>
</div>



